@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Story+Script&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'archivo black';
}
body{
    min-height: 100vh;
    background-color:antiquewhite;
    align-items: center;
    justify-content: center;
    display: flex;
}
.container{
    position:relative;
    max-width: 450px;
    width: 100%;
    background: #b61f1f;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgb(0, 0, 0) 
}
.container .form{
    margin-top: 30px;
}
.form .inp-box{
    width: 100%;
    margin-top: 20px;
}
.form button{
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    height: 30px;
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}